.contacts__inner {
	text-align: center;
	padding-block: 56px 62px;
}

.contacts__title {
	margin-bottom: 74px;
}

.contacts__link {
	font-size: 24px;
	color: var(--bg-main);
	background-color: var(--color-gray);
	border-radius: 20px;
	padding: 6px 24px;
	margin-bottom: 38px;
	display: inline-block;
	transition-duration: 0.3s;
}

.contacts__link:hover {
	background-color: var(--color-black);
}

.contacts__socials {
	margin-bottom: 34px;
}

.social-list {
	display: flex;
	column-gap: 30px;
	justify-content: center;
}

.social-list__icon {
	fill: var(--color-gray);
	transition-duration: 0.3s;
}

.social-list__icon:hover {
	fill: currentColor;
}

.contacts__copyright {
	color: var(--color-gray);
	max-width: 260px;
	display: inline-block;
}

@media (max-width: 480px) {
	.contacts__inner {
		padding-block: 60px 126px;
	}

	.contacts__socials {
		margin-bottom: 42px;
	}

	.social-list {
		column-gap: 25px;
	}

	.social-list__icon {
		width: 55px;
		height: 55px;
	}
}
