.header {
}

.header__inner {
  padding-block: 24px 32px;
  border-bottom: 1px solid var(--color-gray);
}

.header__menu {
}

.header__list {
  display: flex;
	justify-content: space-between;
}

.header__item {
}

.header__link {
	font-size: 18px;
	font-weight: 700;
	color: var(--color-gray);
	transition-duration: 0.3s;
}

.header__link:hover {
	color: var(--color-black);
}
