.history__inner {
	text-align: center;
	padding-block: 64px 70px;
}

.history__title {
	margin-bottom: 72px;
}

.history__picture-img {
	height: 655px;
	object-fit: cover;
	margin-bottom: 30px;
}

@media (max-width: 480px) {
	.history__inner {
		padding-block: 50px 80px;
	}

	.history__title {
		margin-bottom: 60px;
	}

	.history__picture-img {
		height: 480px;
	}
}
