.portfolio {
	padding-block: 80px 108px;
	background-color: var(--bg-main-dim);
}

.portfolio__inner {
	display: flex;
	row-gap: 76px;
	flex-direction: column;
	text-align: center;
}

.portfolio__works {
	display: flex;
	row-gap: 95px;
	flex-direction: column;
}

.portfolio__picture-img {
	margin-bottom: 40px;
}

@media (max-width: 480px) {
	.portfolio {
		padding-block: 40px 50px;
	}

	.portfolio__inner {
		row-gap: 50px;
	}

	.portfolio__works {
		row-gap: 50px;
	}

	.portfolio__picture-img {
		margin-bottom: 30px;
	}
}
